html, body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
form {
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
form input {
    padding: 14px 22px;
}
.btns {
    display: flex;
    justify-content: center;
}
.btns button {
    text-align: center;
    padding: 14px 22px;
}
